/* @import url(https://fonts.googleapis.com/css?family=Exo+2:400,700|Oleo+Script|PT+Sans:400,700&subset=cyrillic); */

/* * { */
    /* margin: 0; */
    /* padding: 0; */
/* } */

a {
    text-decoration: none
}

li,ol,ul {
    list-style: none
}

h1 {
    font: 62px "Monotype Corsiva";
    text-align: center;
}

h1 a {
	color: #FA8072;
}